.Block {
    padding: 5vw;
}
.Block .b-title {
    text-align: left;
    padding-bottom: 25px;
    letter-spacing: 5px;
}
.Block .b-paragraph {
    text-align: right;
    border-left: 2px solid #BD836D;
    padding-left: 15px;
    line-height: 2;
    letter-spacing: 3px;
}