.App {
  font-family: 'Lato', sans-serif;
  color: #fbfbfb;
  background-color: #2F3034;
  min-height: 100vh;
}

*:focus {
  border: 0;
  outline: none;
}

.selected {
  border: 3px dashed red;
}

.label {
  position: relative;
  top: 15px;
  right: -15px;
  height: 0px;
  z-index: 9999;
  color: red;
}

.label.body-label {
  top: -27px;
}