.App {
  font-family: 'Lato', sans-serif;
  color: #fbfbfb;
  background-color: #2F3034;
  min-height: 100vh;
}

*:focus {
  border: 0;
  outline: none;
}

.selected {
  border: 5px solid red;
}

.label {
  position: relative;
  top: 5px;
  left: 5px;
  height: 0px;
  z-index: 9999;
  color: red;
}
