.App {
  font-family: 'Lato', sans-serif;
  color: #fbfbfb;
  background-color: #2F3034;
  height: 100%;
  min-height: 1500px;
}

*:focus {
  border: 0;
  outline: none;
}

.selected {
  border: 3px dashed red;
}

.label {
  position: relative;
  top: 15px;
  left: 15px;
  height: 0px;
  z-index: 9999;
  color: red;
  text-transform: uppercase;
}

.label.label-body {
  position: absolute;
  top: 615px;
}

.label.block-label {
  position: absolute;
  top: 15px;
  right: 0;
}
