.SpeechBar {
  position: fixed;
  bottom: 5px;
  height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
}

.SpeechBar span {
  display: block;
  color: #fff;
}
.SpeechBar #response {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  width: 100vw;
  display: block;
  text-align: center;
  height: 100%;
}

.SpeechBar .talk {
  line-height: 54px;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  height: 60px;
  border-radius: 40px;
  background-color: #fff;
  color: red;
  cursor: pointer;
  border: 5px solid #2F3034;
  position: absolute;
  top: -40px;
  margin-left: -20px;
  outline: none;
  transition: .25s background-color;
}
.SpeechBar .talk:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.SpeechBar .talk.recording {
  background-color: red;
}

.SpeechBar .talk .fa-microphone {
  position: relative;
  top: -2px;
}

.trash {
  position:absolute;
  bottom: 12px;
  left: 12px;
  height: 50px;
  line-height: 1;
}
