.SpeechBar {
  color: black;
  background: white;
  position: fixed;
  bottom: 0;
  height: 10vh;
  min-height: 60px;
  width: 100vw;
  border: 1px solid black;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 2.5em;
}

.response {
  width: 75%;
}


.talk {
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  float: right;
  border-radius: 100% 100%;
  background: red;
}
