.Header {
  height: 600px;
  background: url(../../assets/images/header-img-ok.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.Header:after {
  content: "";
  background-color: #2F3034;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: absolute;
}
.Header .wrapper-text {
  height: 600px;
  letter-spacing: 10px;
  text-align: center;
  z-index: 9;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}
.Header .wrapper-text .sub-title {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: normal;
}

.title {
  font-weight: 800;
  margin-bottom: 12px;
  font-size: 3.5rem;
}