.NavBar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: transparent;
}
.NavBar .navbar-light .navbar-nav .nav-link {
  color: #fbfbfb;
  padding: 15px 50px;
  text-transform: uppercase;
}
.NavBar .navbar-light .navbar-nav .nav-link.active {
  color: #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
}

@media (min-width: 992px) {
  .NavBar .navbar-toggleable-md .navbar-collapse {
    width: auto;
  }
}